PORT=4000

# CORS (React dev URL)
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=12h

# Postgres
DATABASE_URL=postgres://fraudeye:fraudeye_pass@localhost:5433/fraudeye_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# BullMQ Queue Name
BULLMQ_QUEUE=scan_txn_queue

# ML Service
ML_SERVICE_URL=http://localhost:8000

# Worker context config
RECENT_TXN_LIMIT=20